body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: cadetblue;
}

#second {
    color: greenyellow;

}
.larger {
    font-size: 15pt;
}

.purple {
    color: rgb(139, 56, 139);
}

.separate {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif
;
}

.bolder {
    font-weight: bold;
}