p {
    color: blue; 
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

header p {
    color: rgb(191, 123, 89);
    background-color: rgb(147, 241, 107);
    font-weight: bold;
}