
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

header {
    background-color: 
    rgb(255, 167, 224);
    color: rgb(255, 255, 255);
}


nav a {
    color: rgb(177, 7, 98);
}



h2 {
    color: rgb(0, 0, 0);
}


#heroback {
    background-color: rgb(255, 167, 224
    );
}

#InterestCard {
    background-color: rgb(255, 167, 224
    );
}

p {
    color: black;
}


.muted {
    color: gray;
}

.highlight {
    color: rgb(177, 7, 98);
}


a {
    color: rgb(177, 7, 98);
}



footer {
    color: rgb(255, 167, 224
    );
    font-size: small;
}
