body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url(bluebg.jpg);
    background-repeat: repeat;
    background-color: rgb(85, 85, 157);
    background-repeat: ; */
    background: url(bluebg.jpg) repeat rgb(32,32,132);
    color: white
}

.decorative {
    min-height: 80px;
    /*background-image:  url(redflower.jpg);
    background-repeat: no-repeat;
    background-position: right; */

   background: url(redflower.jpg) no-repeat top right;
}

.flower {
    height: 500px;
    height: ;
}

.mylist {
    /*list-style-type: none;*/
    list-style-image: url(reddot.jpg);
}